<section class="block_main_remove_quote_popup"  style="display: none;">
  <div class="block_main_remove_quote_popup__content">
    <div class="close">
      <span></span>
      <span></span>
    </div>
    <div class="block_main_remove_quote_popup_body">
    <h4 class="medium_body block__account-remove-popup-title">{{ 'customer.remove_quote_contenttxt.title' | t }}</h4>
    <div class="block__account-remove-popup-option-btn">
    <button  class="popup-remove-quote-btn">{{ 'customer.remove_quote_contenttxt.remove-yes' | t }}</button>
    <button  class="popup-go-back-btn">{{ 'customer.remove_quote_contenttxt.remove-no' | t }}</button>
    </div>
    </div>
  </div>
</section>